<table class="table table-bordered table-responsive table-dark">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
	  <th scope="col">Contact No</th>
      <th scope="col">Branch</th>
      <th scope="col">Course</th>
	  <th scope="col">Training</th>
      <th scope="col">Qualification</th>
      <th scope="col">DOB</th>
	  <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{this.fullname}}</td>
      <td>{{this.contact}}</td>
      <td>{{this.branch}}</td>
	  <td>{{this.course}}</td>
      <td>{{this.training}}</td>
      <td>{{this.qualification}}</td>
	  <td>{{this.dob}}</td>
      <td>{{this.email}}</td>
      <td>{{this.address}}</td>
    </tr>
   
  </tbody>
</table>